<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Id"> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- subcontractorName Column -->
    <ng-container matColumnDef="subcontractorName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Subcontractor Name"> Subcontractor Name </th>
      <td mat-cell *matCellDef="let element"> {{element.subcontractorName}} </td>
    </ng-container>

    <!-- phoneNumb Column -->
    <ng-container matColumnDef="phoneNumb">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Phone Number"> Phone Number </th>
      <td mat-cell *matCellDef="let element"> {{element.phoneNumb}} </td>
    </ng-container>

    <!-- faxNumb Column -->
    <ng-container matColumnDef="faxNumb">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Fax Number"> Fax Number </th>
      <td mat-cell *matCellDef="let element"> {{element.faxNumb}} </td>
    </ng-container>

    <!-- emailAddr Column -->
    <ng-container matColumnDef="emailAddr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Email Address"> Email Address </th>
      <td mat-cell *matCellDef="let element"> {{element.emailAddr}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons aria-label="Select # of pages">
  </mat-paginator>
</div>
