<form [formGroup]="addForm" class="" (submit)="addEntity()">
    <h2 mat-dialog-title>{{formTitle}}</h2>
    <mat-dialog-content>
      <h4 mat-dialog-title>Labor Item Details</h4>
      <p>
        <mat-form-field class="width-99" appearance="outline">
          <mat-label>Select Labor Type</mat-label>
          <mat-select #laborSelect [(value)]="laborIdSelected" (selectionChange)="selectChange()" formControlName="laborId">
            <mat-option *ngFor="let labor of laborLoaded" [value]="labor.id">{{labor.entityName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="addForm.controls['laborId'].hasError('required')">
            Labor is required
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="width-99" appearance="outline">
          <mat-label>Notes</mat-label>
          <textarea matInput autocomplete="off" class="description-box" value="" formControlName="notes"></textarea>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="width-99" appearance="outline">
          <mat-label>Rate per Hour</mat-label>
          <input matInput readonly autocomplete="off" prefix="$" mask="0*.00" formControlName="ratePerHour">
          <mat-error *ngIf="addForm.controls['ratePerHour'].hasError('required')">
            Rate per Hour is required
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="width-47" appearance="outline">
          <mat-label>Hours</mat-label>
          <mat-select formControlName="hours">
            <mat-option *ngFor="let hour of hours" [value]="hour.value">
              {{ hour.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="addForm.controls['hours'].hasError('required')">
            Hours is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="width-47" appearance="outline">
          <mat-label>Minutes</mat-label>
          <mat-select formControlName="minutes">
            <mat-option *ngFor="let minute of minutes" [value]="minute.value">
              {{ minute.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="addForm.controls['minutes'].hasError('required')">
            Minutes is required
          </mat-error>
        </mat-form-field>
      </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button class="mat-raised-button" mat-dialog-close>Cancel</button>
    <button class="mat-raised-button mat-primary" [disabled]="addForm.invalid" type="submit">Save Labor Item</button>
  </mat-dialog-actions>
</form>
