<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Id"> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- toolEquipName Column -->
    <ng-container matColumnDef="toolEquipName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Tool/Equipment Name"> Tool/Equipment Name </th>
      <td mat-cell *matCellDef="let element"> {{element.toolEquipName}} </td>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Description"> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- rentalCost Column -->
    <ng-container matColumnDef="rentalCost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Rental Cost"> Rental Cost </th>
      <td mat-cell *matCellDef="let element"> {{element.rentalCost}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons aria-label="Select # of pages">
  </mat-paginator>
</div>
