<form [formGroup]="addForm" class="example-form" (submit)="addEntity()">
    <h2 mat-dialog-title>{{formTitle}}</h2>
    <mat-dialog-content>
      <h4 mat-dialog-title>Details:</h4>
      <p>
        <mat-form-field class="example-full-width width-99" appearance="outline">
          <mat-label>Customer Name</mat-label>
          <input matInput autocomplete="off" formControlName="entityName">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width width-31" appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput autocomplete="off" mask="(000)000-0000" formControlName="phoneNumb">
        </mat-form-field>
        <mat-form-field class="example-full-width width-31" appearance="outline">
          <mat-label>Alt Phone Number</mat-label>
          <input matInput autocomplete="off" mask="(000)000-0000" formControlName="altPhoneNumb">
        </mat-form-field>
        <mat-form-field class="example-full-width width-33" appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput autocomplete="off" formControlName="emailAddress">
        </mat-form-field>
      </p>
      <h4 mat-dialog-title>Physical Address</h4>
      <p>
        <mat-form-field class="example-full-width width-75" appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput autocomplete="off" formControlName="physAddress">
        </mat-form-field>
        <mat-form-field class="example-full-width width-21" appearance="outline">
          <mat-label>Unit</mat-label>
          <input matInput autocomplete="off" formControlName="physUnit">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width width-47" appearance="outline">
          <mat-label>City</mat-label>
          <input matInput autocomplete="off" formControlName="physCity">
        </mat-form-field>
        <mat-form-field class="example-full-width width-25" appearance="outline">
          <mat-label>State</mat-label>
          <mat-select formControlName="physState">
            <mat-option *ngFor="let state of usStates" [value]="state.value">
              {{ state.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width width-20" appearance="outline">
          <mat-label>Zip Code</mat-label>
          <input matInput #postalCode maxlength="5" autocomplete="off" formControlName="physZipCode">
        </mat-form-field>
      </p>
      <h4 mat-dialog-title>Billing Address</h4>
      <p>
        <mat-form-field class="example-full-width width-75" appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput autocomplete="off" formControlName="billAddress">
        </mat-form-field>
        <mat-form-field class="example-full-width width-21" appearance="outline">
          <mat-label>Unit</mat-label>
          <input matInput autocomplete="off" formControlName="billUnit">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width width-47" appearance="outline">
          <mat-label>City</mat-label>
          <input matInput autocomplete="off" formControlName="billCity">
        </mat-form-field>
        <mat-form-field class="example-full-width width-25" appearance="outline">
          <mat-label>State</mat-label>
          <mat-select formControlName="billState">
            <mat-option *ngFor="let state of usStates" [value]="state.value">
              {{ state.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width width-20" appearance="outline">
          <mat-label>Zip Code</mat-label>
          <input matInput #postalCode maxlength="5" autocomplete="off" formControlName="billZipCode">
        </mat-form-field>
      </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button class="mat-raised-button" mat-dialog-close>Cancel</button>
    <button class="mat-raised-button mat-primary" type="submit">Save Customer</button>
  </mat-dialog-actions>
</form>
