<div *ngIf="dataLoaded">
<form [formGroup]="editForm" class="" (submit)="editEntity()">
  <h2 mat-dialog-title>{{formTitle}}: {{entityId}}</h2>
  <mat-dialog-content>
    <h4 mat-dialog-title>Inventory Group Details</h4>
    <mat-form-field class="width-99" appearance="outline">
      <mat-label>Inventory Group Name</mat-label>
      <input matInput formControlName="entityName">
      <mat-error *ngIf="editForm.controls['entityName'].hasError('required')">
        Inventory Group Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="width-99" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput class="description-box" value="" formControlName="description"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button class="mat-raised-button" mat-dialog-close>Cancel</button>
    <button class="mat-raised-button mat-primary" [disabled]="editForm.invalid" type="submit">Save Inventory Group</button>
  </mat-dialog-actions>
</form>
</div>
