<div *ngIf="dataLoaded">
  <form [formGroup]="editForm" class="example-form" (submit)="completeEntity()">
    <h2 mat-dialog-title>{{formTitle}}: {{entityId}}</h2>
    <mat-dialog-content>
      <h4 mat-dialog-title>Subcontractor Item Details</h4>
      <mat-form-field class="width-99" appearance="outline">
        <mat-label>Select Subcontractor</mat-label>
        <mat-select #subcontractorSelect [(value)]="subcontractorIdSelected" (selectionChange)="selectChange()" formControlName="subcontractorId">
          <mat-option *ngFor="let subc of subcontractorLoaded" [value]="subc.id">{{subc.entityName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="editForm.controls['subcontractorId'].hasError('required')">
          Subcontractor is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="width-99" appearance="outline">
        <mat-label>Notes</mat-label>
        <textarea matInput autocomplete="off" class="description-box" formControlName="notes"></textarea>
      </mat-form-field>
      <mat-form-field class="width-99" appearance="outline">
        <mat-label>Total</mat-label>
        <input matInput autocomplete="off" formControlName="total">
        <mat-error *ngIf="editForm.controls['total'].hasError('required')">
          Total is required
        </mat-error>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button class="mat-raised-button" mat-dialog-close>Cancel</button>
      <button class="mat-raised-button mat-primary" [disabled]="editForm.invalid" type="submit">Complete Subcontractor Item</button>
    </mat-dialog-actions>
  </form>
</div>
