<form [formGroup]="addForm" class="" (submit)="addEntity()">
    <h2 mat-dialog-title>{{formTitle}}</h2>
    <mat-dialog-content>
    <h4 mat-dialog-title>Work Order Details</h4>
      <p>
      <mat-form-field class="width-99" appearance="outline">
        <mat-label>Quick Description</mat-label>
        <input matInput formControlName="quickDescription">
      </mat-form-field>
      </p>
      <p>
        <mat-form-field class="width-99" appearance="outline">
          <mat-label>Customer</mat-label>
          <mat-select #customerSelect [(value)]="customerSelected" (selectionChange)="customerSelectChange()" formControlName="customer">
            <mat-option *ngFor="let customer of customerLoaded" [value]="customer">{{customer.entityName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="width-99" appearance="outline">
          <mat-label>Location</mat-label>
          <mat-select #locationSelect [(value)]="locationSelected" (selectionChange)="locationSelectChange()" formControlName="location">
            <mat-option *ngFor="let location of locationLoaded" [value]="location">{{location.entityName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-chip-list #chipList aria-label="Assigned Users">
          <mat-chip *ngFor="let user of userData">{{user.username}}<button matChipRemove (click)="removeUserFromWorkOrder(user)"><mat-icon>cancel</mat-icon></button></mat-chip>
        </mat-chip-list>
      </p>
      <p>
        <mat-form-field class="width-70" appearance="outline">
          <mat-label>Assigned Users</mat-label>
          <mat-select #assignedUsersSelect [(value)]="assignedUsersSelected" (selectionChange)="assignedUsersSelectChange()" formControlName="assignedUsers">
            <mat-option *ngFor="let user of assignedUsersLoaded" [value]="user">{{user.username}}</mat-option>
          </mat-select>
        </mat-form-field>
        <span class="width-20"><button type="button" class="mat-flat-button mat-primary add-user-to-workorder" [disabled]="!assignedUsersSelected" (click)="addUserToWorkOrder()">Add User</button></span>
      </p>
      <p>
        <mat-form-field class="width-99" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput class="description-box" value="" formControlName="description"></textarea>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="width-99" appearance="outline">
          <mat-label>Entry Instructions</mat-label>
          <textarea matInput class="description-box" value="" formControlName="entryInstruct"></textarea>
        </mat-form-field>
      </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button class="mat-raised-button" mat-dialog-close>Cancel</button>
    <button class="mat-raised-button mat-primary" type="submit">Save Work Order</button>
  </mat-dialog-actions>
</form>
