<form [formGroup]="addForm" class="" (submit)="addEntity()">
    <h2 mat-dialog-title>{{formTitle}}</h2>
    <mat-dialog-content>
      <h4 mat-dialog-title>Inventory Item Details</h4>

      <mat-form-field class="width-99" appearance="outline">
        <mat-label>Select Inventory Group</mat-label>
        <mat-select #inventoryGroupSelect [(value)]="inventoryGroupIdSelected" (selectionChange)="groupSelectChange()" formControlName="inventoryGroupId">
          <mat-option *ngFor="let invGroup of inventoryGroupLoaded" [value]="invGroup.id">{{invGroup.entityName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="addForm.controls['inventoryGroupId'].hasError('required')">
          Inventory Group is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="width-99" appearance="outline">
        <mat-label>Select Inventory</mat-label>
        <mat-select #inventorySelect [(value)]="inventoryIdSelected" (selectionChange)="selectChange()" formControlName="inventoryId">
          <mat-option *ngFor="let inv of inventoryLoaded" [value]="inv.id">{{inv.entityName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="addForm.controls['inventoryId'].hasError('required')">
          Inventory is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="width-99" appearance="outline">
        <mat-label>Select Inventory Location (taken from)</mat-label>
        <mat-select #inventoryBucketSelect [(value)]="inventoryBucketIdSelected" formControlName="bucketId">
          <mat-option *ngFor="let bucket of inventoryBucketLoaded" [value]="bucket.id">{{bucket.location.entityName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="addForm.controls['bucketId'].hasError('required')">
          Inventory Location is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="width-99" appearance="outline">
        <mat-label>Notes</mat-label>
        <textarea matInput autocomplete="off" class="description-box" value="" formControlName="notes"></textarea>
      </mat-form-field>
      <mat-form-field [hidden]="!isAdmin" class="readonly width-47" appearance="outline">
        <mat-label>Unit Price</mat-label>
        <input matInput readonly autocomplete="off" prefix="$" mask="0*.00" formControlName="unitPrice">
        <mat-error *ngIf="addForm.controls['unitPrice'].hasError('required')">
          Unit Price is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="width-47" appearance="outline">
        <mat-label>Quantity</mat-label>
        <input matInput autocomplete="off" formControlName="qty">
        <mat-error *ngIf="addForm.controls['qty'].hasError('required')">
          Quantity is required
        </mat-error>
      </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button class="mat-raised-button" mat-dialog-close>Cancel</button>
    <button class="mat-raised-button mat-primary" [disabled]="addForm.invalid" type="submit">Save Inventory Item</button>
  </mat-dialog-actions>
</form>
