<form [formGroup]="addForm" class="example-form" (submit)="addEntity()">
    <h2 mat-dialog-title>{{formTitle}}</h2>
    <mat-dialog-content>
      <h4 mat-dialog-title>Inventory Item Details</h4>
      <p>
        <mat-form-field class="example-full-width width-99" appearance="outline">
          <mat-label>Select Inventory</mat-label>
          <mat-select #inventorySelect [(value)]="inventorySelected" (selectionChange)="selectChange()" formControlName="inventoryId">
            <mat-option *ngFor="let inv of inventoryLoaded"
                        [value]="inv.id">
              {{inv.entityName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width width-99" appearance="outline">
          <mat-label>Notes</mat-label>
          <textarea matInput class="description-box" value="" formControlName="notes"></textarea>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width width-47" appearance="outline">
          <mat-label>Unit Price</mat-label>
          <input matInput formControlName="unitPrice">
        </mat-form-field>
        <mat-form-field class="example-full-width width-47" appearance="outline">
          <mat-label>Quantity</mat-label>
          <input matInput formControlName="qty">
        </mat-form-field>
      </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button class="mat-raised-button" mat-dialog-close>Cancel</button>
    <button class="mat-raised-button mat-primary" type="submit">Save Inventory Item</button>
  </mat-dialog-actions>
</form>

