<div class="table-toolbar">
  <span>
    <h2>Subcontractor Items</h2>
  </span>
  <span class="example-fill-remaining-space"></span>
  <span>
    <button class="mat-flat-button mat-primary subcontractor-item-table-add-button" (click)="openAddDialog()">Add Subcontractor Item</button>
  </span>
</div>
<div class="mat-elevation-z0">
  <table #entityTable mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z0">
    <!-- subcontractor -->
    <ng-container matColumnDef="subcontractor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Subcontractor">Subcontractor</th>
      <td mat-cell *matCellDef="let element">{{element.subcontractor.entityName}}</td>
    </ng-container>
    <!-- notes -->
    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Notes">Notes</th>
      <td mat-cell *matCellDef="let element">{{element.notes}}</td>
    </ng-container>
    <!-- createdDate -->
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Created Date">Created Date</th>
      <td mat-cell *matCellDef="let element">{{element.createdDate|date:'MMM d, y, h:mm a'}}</td>
    </ng-container>
    <!-- updatedDate -->
    <ng-container matColumnDef="updatedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Updated Date">Updated Date</th>
      <td mat-cell *matCellDef="let element">{{element.updatedDate|date:'MMM d, y, h:mm a'}}</td>
    </ng-container>
    <!-- unitPrice -->
    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Unit Price">Unit Price</th>
      <td mat-cell *matCellDef="let element">{{element.unitPrice|currency}}</td>
    </ng-container>
    <!-- qty -->
    <ng-container matColumnDef="qty">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Quantity">Quantity</th>
      <td mat-cell *matCellDef="let element">{{element.qty}}</td>
    </ng-container>
    <!-- totalPrice -->
    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Total Price">Total Price</th>
      <td mat-cell *matCellDef="let element">{{element.totalPrice|currency}}</td>
    </ng-container>
    <!-- actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button class="subcontractor-item-table-edit-button mat-icon-button" (click)="openEditDialog(element.id)"><mat-icon color="primary">edit</mat-icon></button>
        <button mat-button class="subcontractor-item-table-delete-button mat-icon-button" (click)="openDeleteDialog(element.id)"><mat-icon color="primary">delete</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
