<div>
  <div class="row top-header">
    <div class="app-title-box col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <h1><a href="/workOrders">ELS Work Order Manager</a> &nbsp;&nbsp; | &nbsp;&nbsp; Administration</h1>
    </div>
    <div class="logged-in-user app-icon-menu-box col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
      <p>Hello, {{nameToDisplay}}</p>
    </div>
    <div class="app-icon-menu-box col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
      <a href="/workOrders"><span><mat-icon aria-hidden="false" matTooltip="Home" aria-label="Home">home</mat-icon></span></a>
      <a href="/admin"><span><mat-icon aria-hidden="false" matTooltip="Admin" aria-label="Admin">settings</mat-icon></span></a>
      <span><mat-icon aria-hidden="false" matTooltip="Logout" aria-label="Logout" (click)="logout()">logout</mat-icon></span>
    </div>
  </div>

  <div class="row els-admin-tabs">
    <mat-tab-group mat-stretch-tabs class="admin-tab-group">
      <mat-tab label="Work Orders"><app-work-order-table></app-work-order-table></mat-tab>
      <mat-tab label="Customers"><app-customer-table></app-customer-table></mat-tab>
      <mat-tab label="Locations"><app-location-table></app-location-table></mat-tab>
      <mat-tab label="Inventory"><app-inventory-admin></app-inventory-admin></mat-tab>
      <mat-tab label="Inventory Groups"><app-inventory-group-table></app-inventory-group-table></mat-tab>
      <mat-tab label="Inventory Locations"><app-inventory-location-table></app-inventory-location-table></mat-tab>
      <mat-tab label="Subcontractors"><app-subcontractor-table></app-subcontractor-table></mat-tab>
      <mat-tab label="Tools/Equipment"><app-tool-equipment-table></app-tool-equipment-table></mat-tab>
      <mat-tab label="Labor"><app-labor-table></app-labor-table></mat-tab>
      <mat-tab label="Users"><app-user-table></app-user-table></mat-tab>
      <mat-tab label="Processing"><app-work-order-processing-table></app-work-order-processing-table></mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="bottom fixed-bottom">
  <div class="row">
    <div class="copyright-row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p>ELS Work Order Manager - Copyright 2022 - All rights reserved.</p>
    </div>
  </div>
</div>
