<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>ELS Work Order Manager  ::  Admin</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
  <ul>
    <li><a routerLink="/workOrders">workOrders</a></li>
    <li><a routerLink="/workOrderDetails">workOrderDetails</a></li>
    <li><a routerLink="/admin">admin</a></li>
  </ul>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group class="admin-tab-group">
  <mat-tab label="Work Orders"><app-work-orders-table></app-work-orders-table></mat-tab>
  <mat-tab label="Customers"><app-customers-table></app-customers-table></mat-tab>
  <mat-tab label="Inventory"><app-inventory-table></app-inventory-table></mat-tab>
  <mat-tab label="Subcontractors"><app-subcontractors-table></app-subcontractors-table></mat-tab>
  <mat-tab label="Tools/Equipment"><app-tools-equipment-table></app-tools-equipment-table></mat-tab>
  <mat-tab label="Labor"><app-labor-table></app-labor-table></mat-tab>
  <mat-tab label="Processing">RESERVED FOR QUEUE PROCESSING</mat-tab>
</mat-tab-group>
