<div class="table-toolbar">
  <span>
    <mat-form-field class="example-full-width width-99 els-custom-customer-select" appearance="outline">
        <mat-label>Filter Work Orders</mat-label>
        <mat-select [(value)]="workOrderFilterSelected" (selectionChange)="selectChange()">
          <mat-option value="ALL">ALL Work Orders</mat-option>
          <mat-option *ngFor="let status of dropdownFilterArray"
                      [value]="status.value">
            {{status.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </span>
  <span>
    <mat-form-field class="table-search-box" appearance="outline">
      <input matInput type="text" class="table-filer-box" autocomplete="off" [(ngModel)]="filter" (keyup)="applyFilter($event)" placeholder="Search">
    </mat-form-field>
    <button class="mat-flat-button mat-primary reset-button" (click)="clearFilter()">Reset Filter</button>
  </span>
  <span class="example-fill-remaining-space"></span>
  <span>
    <button class="mat-flat-button mat-primary work-order-table-add-button" (click)="openAddDialog()">Add Work Order</button>
  </span>
</div>
<div class="mat-elevation-z0">
  <table #entityTable mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0">
    <!-- createdDate -->
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Created Date">Created Date</th>
      <td mat-cell *matCellDef="let element">{{element.createdDate|date:'short'}}</td>
    </ng-container>
    <!-- updatedDate -->
    <!--    <ng-container matColumnDef="updatedDate">-->
    <!--      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Updated Date">Updated Date</th>-->
    <!--      <td mat-cell *matCellDef="let element">{{element.updatedDate|date:'MMM d, y, h:mm a'}}</td>-->
    <!--    </ng-container>-->
    <!-- id -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Id">Id</th>
      <td mat-cell *matCellDef="let element"><a [routerLink]="['/workOrderDetails', element.id]">{{element.id}}</a></td>
    </ng-container>
    <!-- quickDescription -->
    <ng-container matColumnDef="quickDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Quick Description">Quick Description</th>
      <td mat-cell *matCellDef="let element">{{element.quickDescription}}</td>
    </ng-container>
<!--    &lt;!&ndash; customer &ndash;&gt;-->
<!--    <ng-container matColumnDef="assignedUser">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Assigned User">Assigned User</th>-->
<!--      <td mat-cell *matCellDef="let element">{{element.assignedUser.username}}</td>-->
<!--    </ng-container>-->
    <!-- customer -->
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Customer">Customer</th>
      <td mat-cell *matCellDef="let element">{{element.customer.entityName}}</td>
    </ng-container>
    <!-- location -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Location">Location</th>
      <td mat-cell *matCellDef="let element">{{element.location.entityName}}</td>
    </ng-container>
    <!-- workOrderTotal -->
    <ng-container matColumnDef="workOrderTotal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Total">Total</th>
      <td mat-cell *matCellDef="let element">{{element.workOrderTotal|currency}}</td>
    </ng-container>
    <!-- status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Status">Status</th>
      <td mat-cell *matCellDef="let element"><span class="status-chip status-chip-{{element.status.toLowerCase()}}">{{element.status}}</span></td>
    </ng-container>
    <!-- actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button class="work-order-table-edit-button mat-icon-button" [routerLink]="['/workOrderDetails', element.id]"><mat-icon color="primary" matTooltip="Edit">edit</mat-icon></button>
        <button *ngIf="(loggedInRole =='ROLE_SUPER_ADMIN')" mat-button class="work-order-table-delete-button mat-icon-button" (click)="openDeleteDialog(element.id)"><mat-icon color="primary" matTooltip="Delete">delete</mat-icon></button>

        <button *ngIf="(element.status == 'OPEN')" mat-icon-button  [matMenuTriggerFor]="openMenu" aria-label=""><mat-icon  color="primary">more_horiz</mat-icon></button>
        <mat-menu #openMenu>
          <button mat-menu-item (click)="openCompleteDialog(element.id)"><span>COMPLETE Work Order</span></button>
          <button mat-menu-item (click)="openCancelDialog(element.id)"><span>CANCEL Work Order</span></button>
        </mat-menu>
        <button *ngIf="(element.status == 'PENDING')" mat-icon-button  [matMenuTriggerFor]="pendingMenu" aria-label=""><mat-icon  color="primary">more_horiz</mat-icon></button>
        <mat-menu #pendingMenu>
          <button mat-menu-item (click)="openReopenDialog(element.id)"><span>Re-OPEN Work Order</span></button>
          <button mat-menu-item (click)="openCancelDialog(element.id)"><span>CANCEL Work Order</span></button>
        </mat-menu>
        <button *ngIf="(element.status == 'COMPLETE')" mat-icon-button  [matMenuTriggerFor]="completeMenu" aria-label=""><mat-icon  color="primary">more_horiz</mat-icon></button>
        <mat-menu #completeMenu>
          <button mat-menu-item (click)="openCloseDialog(element.id)"><span>CLOSE Work Order</span></button>
          <button mat-menu-item (click)="openReopenDialog(element.id)"><span>Re-OPEN Work Order</span></button>
          <button mat-menu-item (click)="openCancelDialog(element.id)"><span>CANCEL Work Order</span></button>
        </mat-menu>
        <button *ngIf="(element.status == 'ERROR')" mat-icon-button  [matMenuTriggerFor]="errorMenu" aria-label=""><mat-icon  color="primary">more_horiz</mat-icon></button>
        <mat-menu #errorMenu>
          <button mat-menu-item (click)="openRetryDialog(element.id)"><span>RETRY Work Order Processing</span></button>
        </mat-menu>

      </td>

    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons aria-label="Pages"></mat-paginator>
</div>
<h6 class="hint-text-box">This tab only shows OPEN and PENDING status work orders.</h6>

