<form [formGroup]="addForm" class="example-form" (submit)="addEntity()">
    <h2 mat-dialog-title>{{formTitle}}</h2>
    <mat-dialog-content>
    <h4 mat-dialog-title>Tool/Equipment Details</h4>
      <p>
      <mat-form-field class="example-full-width width-99" appearance="outline">
        <mat-label>ToolEquipment Name</mat-label>
        <input matInput formControlName="entityName">
      </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width width-99" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput class="description-box" formControlName="description"></textarea>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width width-47" appearance="outline">
          <mat-label>Price per Day</mat-label>
          <input matInput prefix="$" mask="0*.00" formControlName="pricePerDay">
        </mat-form-field>
      </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button class="mat-raised-button" mat-dialog-close>Cancel</button>
    <button class="mat-raised-button mat-primary" type="submit">Save Tool/Equipment</button>
  </mat-dialog-actions>
</form>
