<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Id"> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- laborTypeName Column -->
    <ng-container matColumnDef="laborTypeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Labor Type Name"> Labor Type Name </th>
      <td mat-cell *matCellDef="let element"> {{element.laborTypeName}} </td>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Description"> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- ratePerHour Column -->
    <ng-container matColumnDef="ratePerHour">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Rate per Hour"> Rate per Hour </th>
      <td mat-cell *matCellDef="let element"> {{element.ratePerHour}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons aria-label="Select # of pages">
  </mat-paginator>
</div>
