<div class="table-toolbar">
  <span>
    <h2>Subcontractor Completion</h2>
  </span>
  <span class="example-fill-remaining-space"></span>
</div>
<div class="mat-elevation-z0">
  <table #entityTable mat-table [dataSource]="dataSource" matSort matSortDisableClear class="mat-elevation-z0">
    <!-- createdDate -->
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Created Date">Created Date</th>
      <td mat-cell *matCellDef="let element">{{element.createdDate|date:'MMM d, y, h:mm a'}}</td>
    </ng-container>
    <!-- entityName -->
    <ng-container matColumnDef="entityName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Subcontractor Name">Subcontractor Name</th>
      <td mat-cell *matCellDef="let element">{{element.entityName}}</td>
    </ng-container>
    <!-- workOrder -->
    <ng-container matColumnDef="workOrder">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Work Order">Work Order</th>
      <td mat-cell *matCellDef="let element"><a [routerLink]="['/workOrderDetails', element.workOrder.id]">{{element.workOrder.id}}</a></td>
    </ng-container>
    <!-- notes -->
    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Notes">Notes</th>
      <td mat-cell *matCellDef="let element">{{element.notes}}</td>
    </ng-container>
    <!-- unitPrice -->
<!--    <ng-container *ngIf="(loggedInRole =='ROLE_ADMIN')||(loggedInRole =='ROLE_SUPER_ADMIN')" matColumnDef="unitPrice">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Unit Price">Unit Price</th>-->
<!--      <td mat-cell *matCellDef="let element">{{element.unitPrice|currency}}</td>-->
<!--    </ng-container>-->
    <!-- qty -->
<!--    <ng-container matColumnDef="qty">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Quantity">Quantity</th>-->
<!--      <td mat-cell *matCellDef="let element">{{element.qty}}</td>-->
<!--    </ng-container>-->
    <!-- total -->
    <ng-container *ngIf="(loggedInRole =='ROLE_ADMIN')||(loggedInRole =='ROLE_SUPER_ADMIN')" matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Total">Total</th>
      <td mat-cell *matCellDef="let element">{{element.total|currency}}</td>
    </ng-container>
    <!-- status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Status">Status</th>
      <td mat-cell *matCellDef="let element"><span class="subcontractor-status-chip subcontractor-status-chip-{{element.status.toLowerCase()}}">{{element.status}}</span></td>
    </ng-container>
    <!-- actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
<!--    <button *ngIf="(element.status == 'ACTIVE')" mat-button class="subcontractor-item-table-edit-button mat-icon-button" (click)="openEditDialog(element.id)"><mat-icon color="primary" matTooltip="Edit">edit</mat-icon></button>-->
        <button *ngIf="(element.status == 'ACTIVE')&&(loggedInRole == 'ROLE_SUPER_ADMIN')||(loggedInRole == 'ROLE_ADMIN')" mat-button class="subcontractor-item-table-edit-button mat-icon-button" (click)="openCompleteDialog(element.id)"><mat-icon color="primary" matTooltip="Complete">home</mat-icon></button>
        <button *ngIf="(loggedInRole == 'ROLE_SUPER_ADMIN')" mat-button class="subcontractor-item-table-delete-button mat-icon-button" (click)="openDeleteDialog(element.id)"><mat-icon color="primary" matTooltip="Delete">delete</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class]="getRowAgeColor(row.createdDate)"></tr>
  </table>
<!--  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons aria-label="Pages"></mat-paginator>-->
</div>
