<div *ngIf="dataLoaded" id="els-work-order-details" class="els-custom-table-container" xmlns="http://www.w3.org/1999/html">

  <!-- why is this called top? -->
  <div class="top">

    <!-- header bar -->
    <div class="row top-header">
  <div class="app-title-box col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <h1><a href="/workOrders">ELS Work Order Manager</a> &nbsp;&nbsp; | &nbsp;&nbsp; Work Order Details</h1>
  </div>
  <div class="logged-in-user app-icon-menu-box col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <p>Hello, {{nameToDisplay}}</p>
  </div>
  <div class="app-icon-menu-box col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
    <a href="/workOrders"><span><mat-icon aria-hidden="false" matTooltip="Home" aria-label="Home">home</mat-icon></span></a>
    <a *ngIf="(loggedInRole == 'ROLE_ADMIN')||(loggedInRole =='ROLE_SUPER_ADMIN')" href="/admin"><span><mat-icon aria-hidden="false" matTooltip="Admin" aria-label="Admin">settings</mat-icon></span></a>
    <span><mat-icon aria-hidden="false" matTooltip="Logout" aria-label="Logout" (click)="logout()">logout</mat-icon></span>
  </div>
</div>

    <!-- first top data row -->
    <div class="row els-custom-table-container">
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="wo-info-field-title"><h4>Work Order ID</h4></div>
        <div class="wo-info-field-content"><h3>{{woIdFieldBox}}</h3></div>
      </div>
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="wo-info-field-title"><h4>Work Order Status</h4></div>
        <div class="wo-info-field-content"><h3><span class="work-order-details-status work-order-details-status-{{woStatusFieldBox.toLowerCase()}}">{{woStatusFieldBox}}</span></h3></div>
      </div>
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="wo-info-field-title"><h4>Created Date/Time</h4></div>
        <div class="wo-info-field-content"><h3>{{woCreatedDateFieldBox|date:'MMM d, y, h:mm a'}}</h3></div>
      </div>
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="wo-info-field-title"><h4>Updated Date/Time</h4></div>
        <div class="wo-info-field-content"><h3>{{woUpdatedDateFieldBox|date:'MMM d, y, h:mm a'}}</h3></div>
      </div>
    </div>

    <!-- second top data row -->
    <div class="row els-custom-table-container">
  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="wo-info-field-title"><h4>Customer</h4></div>
    <div class="wo-info-field-content"><h3>{{woCustomerFieldBox}}</h3></div>
  </div>
  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="wo-info-field-title"><h4>Location</h4></div>
    <div class="wo-info-field-content"><h3>{{woLocationFieldBox}}</h3></div>
  </div>
  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="wo-info-field-title"><h4>Assigned Users</h4></div>
    <div class="wo-info-field-content"><h3><span *ngFor="let user of entityData.assignedUsers">{{user.username}}&nbsp;&nbsp;</span></h3></div>
  </div>
</div>

    <!-- everything whitespace -->
    <div class="row els-custom-table-container">
      <mat-tab-group mat-stretch-tabs class="work-order-details-tab-group">
        <mat-tab label="Work Order Details">
          <form [formGroup]="editForm" class="example-form" (submit)="saveWorkOrder()">
          <div class="table-toolbar">
            <span><h2>Work Order Details</h2></span>
            <span class="example-fill-remaining-space"></span>
      <!--  <span><button class="mat-flat-button mat-primary inventory-item-table-add-button" (click)="openAddDialog()">Add Inventory Item</button></span>-->
          </div>
          <div class="containing-box">

          <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <p>
                <mat-form-field class="example-full-width width-99" appearance="outline">
                  <mat-label>Customer</mat-label>
                  <mat-select #customerSelect [(value)]="customerSelected" [compareWith]="compareObjects" (selectionChange)="customerSelectChange()" formControlName="customer">
                    <mat-option *ngFor="let customer of customerLoaded" [value]="customer">{{customer.entityName}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="editForm.controls['customer'].hasError('required')">
                    Customer is required
                  </mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="example-full-width width-99" appearance="outline">
                  <mat-label>Location</mat-label>
                  <mat-select #locationSelect [(value)]="locationSelected" [compareWith]="compareObjects" (selectionChange)="locationSelectChange()" formControlName="location">
                    <mat-option *ngFor="let location of locationLoaded" [value]="location">{{location.entityName}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="editForm.controls['location'].hasError('required')">
                    Location is required
                  </mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-chip-list #chipList aria-label="Assigned Users">
                  <mat-chip *ngFor="let user of userData">{{user.username}}<button matChipRemove *ngIf="editFormEditMode" (click)="removeUserFromWorkOrder(user)"><mat-icon>cancel</mat-icon></button></mat-chip>
                </mat-chip-list>
              </p>
              <p>
                <mat-form-field class="width-70" appearance="outline">
                  <mat-label>Assigned Users</mat-label>
                  <mat-select #assignedUsersSelect [(value)]="assignedUsersSelected" (selectionChange)="assignedUsersSelectChange()" formControlName="assignedUsers">
                    <mat-option *ngFor="let user of assignedUsersLoaded" [value]="user">{{user.username}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="editForm.controls['assignedUsers'].hasError('required')">
                    Assigned Users is required
                  </mat-error>
                </mat-form-field>
                <span class="width-20"><button type="button" class="mat-flat-button mat-primary add-user-to-workorder" [disabled]="!assignedUsersSelected" (click)="addUserToWorkOrder()">Add User</button></span>
              </p>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <p>
                <mat-form-field class="width-99 els-form-fields-second-column" appearance="outline">
                  <mat-label>Quick Description</mat-label>
                  <input type="text" matInput autocomplete="off" formControlName="quickDescription">
                  <mat-error *ngIf="editForm.controls['quickDescription'].hasError('required')">
                    Quick Description is required
                  </mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="example-full-width width-99 els-form-fields-second-column" appearance="outline">
                  <mat-label>Description</mat-label>
                  <textarea type="text" matInput autocomplete="off" class="description-box" formControlName="description"></textarea>
                </mat-form-field>
              </p>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <p>
                <mat-form-field class="width-99 els-form-fields-third-column" appearance="outline">
                  <mat-label>Contact Name</mat-label>
                  <input type="text" matInput autocomplete="off" formControlName="contactName">
                  <mat-error *ngIf="editForm.controls['contactName'].hasError('required')">
                    Contact Name is required
                  </mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="width-44 els-form-fields-third-column" appearance="outline">
                  <mat-label>Contact Phone Number</mat-label>
                  <input type="text" matInput autocomplete="off" mask="(000)000-0000" formControlName="contactPhoneNumb">
                  <mat-error *ngIf="editForm.controls['contactPhoneNumb'].hasError('required')">
                    Contact Phone Number is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="width-44 els-form-fields-third-column" appearance="outline">
                  <mat-label>Contact Alt Phone NUmber</mat-label>
                  <input type="text" matInput autocomplete="off" mask="(000)000-0000" formControlName="contactAltPhoneNumb">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="width-99 els-form-fields-third-column" appearance="outline">
                  <mat-label>Entry Instructions</mat-label>
                  <textarea type="text" matInput autocomplete="off" class="description-box" formControlName="entryInstruct"></textarea>
                  <mat-error *ngIf="editForm.controls['entryInstruct'].hasError('required')">
                    Entry Instructions is required
                  </mat-error>
                </mat-form-field>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="bottom-button-row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div><button type="button" class="mat-flat-button mat-primary" (click)="printPage()">Print Work Order</button></div>
              <div><button *ngIf="!editFormEditMode" class="mat-flat-button mat-primary" (click)="editModeToggle()">Edit Work Order Details</button></div>
              <div><button *ngIf="editFormEditMode" class="mat-flat-button edit-button-color" type="submit">Save Work Order Details</button></div>
              <div><button *ngIf="editFormEditMode" class="mat-raised-button" (click)="editModeToggle()">Cancel</button></div>
            </div>
          </div>
          </div>
          </form>
        </mat-tab>
        <mat-tab label="Inventory Items"><app-inventory-item-table (totalChangedEvent)="getNewInventoryTotal($event)" [passedWorkOrderId]="entityData.id"></app-inventory-item-table></mat-tab>
        <mat-tab label="Labor Items"><app-labor-item-table (totalChangedEvent)="getNewLaborTotal($event)" [passedWorkOrderId]="entityData.id"></app-labor-item-table></mat-tab>
        <mat-tab label="Subcontractor Items"><app-subcontractor-item-table (totalChangedEvent)="getNewSubcontractorTotal($event)" [passedWorkOrderId]="entityData.id"></app-subcontractor-item-table></mat-tab>
        <mat-tab label="Tool/Equipment Items"><app-tool-equipment-item-table (totalChangedEvent)="getNewToolEquipmentTotal($event)" [passedWorkOrderId]="entityData.id"></app-tool-equipment-item-table></mat-tab>
        <mat-tab label="Complete Work Order"><app-notes-completion-tab (statusChangedEvent)="processStatusChange($event)" [passedWorkOrderId]="entityData.id"></app-notes-completion-tab></mat-tab>
      </mat-tab-group>
    <!-- end everything whitespace -->
    </div>

    <!-- bottom money details and copyright -->
    <div class="bottom fixed-bottom els-custom-table-container">

      <!-- bottom money details -->
      <div *ngIf="(loggedInRole == 'ROLE_ADMIN')||(loggedInRole =='ROLE_SUPER_ADMIN')" class="row els-custom-table-container">
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <div class="wo-info-field-title"><h4>Inventory Items Total</h4></div>
          <div class="wo-info-field-content"><h3>{{[(masterInventoryTotal|currency)]}}</h3></div>
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <div class="wo-info-field-title"><h4>Labor Items Total</h4></div>
          <div class="wo-info-field-content"><h3>{{[(masterLaborTotal|currency)]}}</h3></div>
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <div class="wo-info-field-title"><h4>Subcontractor Items Total</h4></div>
          <div class="wo-info-field-content"><h3>{{[(masterSubcontractorTotal|currency)]}}</h3></div>
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <div class="wo-info-field-title"><h4>Tool/Equipment Items Total</h4></div>
          <div class="wo-info-field-content"><h3>{{[(masterToolEquipmentTotal|currency)]}}</h3></div>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <div class="wo-info-field-title"><h4>Work Order Total</h4></div>
          <div class="wo-info-field-content"><h3 class="master-total-currency">{{[(masterTotal|currency)]}}</h3></div>
        </div>
      </div>

      <!-- copyright -->
      <div class="row els-custom-table-container">
        <div class="copyright-row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <p>ELS Work Order Manager - Copyright 2022 - All rights reserved.</p>
        </div>
      </div>

    <!-- end bottom money details and copyright -->
    </div>

  <!-- end top -->
  </div>

<!-- end ngIf dataLoaded -->
</div>

<!-- print template -->
<app-print-template *ngIf="dataLoaded" [passedWOId]="entityData.id"></app-print-template>

<!-- global spinner -->
<app-global-progress-spinner *ngIf="spinning"></app-global-progress-spinner>
