h1 {
  display: block;
}
h3 {
  display: block;
}

ul {
  margin-left: 50px;
  padding-left: 0;
}
li {
  display: inline;
  margin: 0 30px 0 30px;
}
a, a:visited, a:active {
  color: #ccb3ff;
  text-decoration: none;
}
a:hover {
  color: #ffb84d;
}

/*th, td {*/
/*  width: 20%;*/
/*  text-align: center;*/
/*  border: 1px solid #ffb84d;*/
/*}*/
mat-tab {
  width: 80%;
}

table {
  width: 80%;
  margin: 0px 0px 0px 0px;
}

.items-container {
  padding-bottom: 100px;
  border-left: 1px solid;
  border-right: 1px solid;
}
