<div *ngIf="dataLoaded" id="els-work-order-details" class="els-custom-table-container" xmlns="http://www.w3.org/1999/html">

  <!-- why is this called top? -->
  <div class="top">

    <!-- header bar -->
    <div class="row top-header">
  <div class="app-title-box col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <h1><a href="/workOrders">ELS Work Order Manager</a> &nbsp;&nbsp; | &nbsp;&nbsp; Work Order Details</h1>
  </div>
  <div class="logged-in-user app-icon-menu-box col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <p>Hello, {{nameToDisplay}}</p>
  </div>
  <div class="app-icon-menu-box col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
    <a href="/workOrders"><span><mat-icon aria-hidden="false" matTooltip="Home" aria-label="Home">home</mat-icon></span></a>
    <a *ngIf="(loggedInRole == 'ROLE_ADMIN')||(loggedInRole =='ROLE_SUPER_ADMIN')" href="/admin"><span><mat-icon aria-hidden="false" matTooltip="Admin" aria-label="Admin">settings</mat-icon></span></a>
    <span><mat-icon aria-hidden="false" matTooltip="Logout" aria-label="Logout" (click)="logout()">logout</mat-icon></span>
  </div>
</div>

    <!-- first top data row -->
    <div class="row els-custom-table-container">
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="wo-info-field-title"><h4>Work Order ID</h4></div>
        <div class="wo-info-field-content"><h3>{{woIdFieldBox}}</h3></div>
      </div>
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="wo-info-field-title"><h4>Work Order Status</h4></div>
        <div class="wo-info-field-content"><h3><span class="work-order-details-status work-order-details-status-{{woStatusFieldBox.toLowerCase()}}">{{woStatusFieldBox}}</span></h3></div>
      </div>
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="wo-info-field-title"><h4>Created Date/Time</h4></div>
        <div class="wo-info-field-content"><h3>{{woCreatedDateFieldBox|date:'MMM d, y, h:mm a'}}</h3></div>
      </div>
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="wo-info-field-title"><h4>Updated Date/Time</h4></div>
        <div class="wo-info-field-content"><h3>{{woUpdatedDateFieldBox|date:'MMM d, y, h:mm a'}}</h3></div>
      </div>
    </div>

    <!-- second top data row -->
    <div class="row els-custom-table-container">
  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="wo-info-field-title"><h4>Customer</h4></div>
    <div class="wo-info-field-content"><h3>{{woCustomerFieldBox}}</h3></div>
  </div>
  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="wo-info-field-title"><h4>Location</h4></div>
    <div class="wo-info-field-content"><h3>{{woLocationFieldBox}}</h3></div>
  </div>
  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="wo-info-field-title"><h4>Assigned Users</h4></div>
    <div class="wo-info-field-content"><h3><span *ngFor="let user of entityData.assignedUsers">{{user.username}}&nbsp;&nbsp;</span></h3></div>
  </div>
</div>

    <!-- tabs container -->
    <div class="row els-custom-table-container">
      <mat-tab-group mat-stretch-tabs class="work-order-details-tab-group">
        <mat-tab label="Work Order Details"><app-edit-details-tab
          (saveEvent)="processSaveEvent($event)"
          [passedWorkOrder]="entityData"
          [passedWorkOrderId]="entityData.id"
          [masterTotal]="masterTotal"
          [invTotal]="masterInventoryTotal"
          [laborTotal]="masterLaborTotal"
          [subTotal]="masterSubcontractorTotal"
          [toolEquipTotal]="masterToolEquipmentTotal"></app-edit-details-tab></mat-tab>
        <mat-tab label="Inventory Items"><app-inventory-item-table (totalChangedEvent)="getNewInventoryTotal($event)" [passedWorkOrderId]="entityData.id" [passedWorkOrderStatus]="entityData.status"></app-inventory-item-table></mat-tab>
        <mat-tab label="Labor Items"><app-labor-item-table (totalChangedEvent)="getNewLaborTotal($event)" [passedWorkOrderId]="entityData.id" [passedWorkOrderStatus]="entityData.status"></app-labor-item-table></mat-tab>
        <mat-tab label="Subcontractor Items"><app-subcontractor-item-table (totalChangedEvent)="getNewSubcontractorTotal($event)" [passedWorkOrderId]="entityData.id" [passedWorkOrderStatus]="entityData.status"></app-subcontractor-item-table></mat-tab>
        <mat-tab label="Tool/Equipment Items"><app-tool-equipment-item-table (totalChangedEvent)="getNewToolEquipmentTotal($event)" [passedWorkOrderId]="entityData.id" [passedWorkOrderStatus]="entityData.status"></app-tool-equipment-item-table></mat-tab>
        <mat-tab label="Complete Work Order"><app-notes-completion-tab (statusChangedEvent)="processStatusChange($event)" [passedWorkOrderId]="entityData.id"></app-notes-completion-tab></mat-tab>
      </mat-tab-group>
    <!-- end everything whitespace -->
    </div>

    <!-- bottom money details and copyright -->
    <div class="bottom fixed-bottom els-custom-table-container">

      <!-- bottom money details -->
      <div *ngIf="(loggedInRole == 'ROLE_ADMIN')||(loggedInRole =='ROLE_SUPER_ADMIN')" class="row els-custom-table-container">
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <div class="wo-info-field-title"><h4>Inventory Items Total</h4></div>
          <div class="wo-info-field-content"><h3>{{[(masterInventoryTotal|currency)]}}</h3></div>
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <div class="wo-info-field-title"><h4>Labor Items Total</h4></div>
          <div class="wo-info-field-content"><h3>{{[(masterLaborTotal|currency)]}}</h3></div>
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <div class="wo-info-field-title"><h4>Subcontractor Items Total</h4></div>
          <div class="wo-info-field-content"><h3>{{[(masterSubcontractorTotal|currency)]}}</h3></div>
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <div class="wo-info-field-title"><h4>Tool/Equipment Items Total</h4></div>
          <div class="wo-info-field-content"><h3>{{[(masterToolEquipmentTotal|currency)]}}</h3></div>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <div class="wo-info-field-title"><h4>Work Order Total</h4></div>
          <div class="wo-info-field-content"><h3 class="master-total-currency">{{[(masterTotal|currency)]}}</h3></div>
        </div>
      </div>

      <!-- copyright -->
      <div class="row els-custom-table-container">
        <div class="copyright-row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <p>ELS Work Order Manager - Copyright 2022 - All rights reserved.</p>
        </div>
      </div>

    <!-- end bottom money details and copyright -->
    </div>

  <!-- end top -->
  </div>

<!-- end ngIf dataLoaded -->
</div>

<!-- print template -->
<app-print-template *ngIf="dataLoaded" [passedWOId]="entityData.id"></app-print-template>
