<div *ngIf="dataLoaded">
<form [formGroup]="editForm" class="example-form" (submit)="editEntity()">
  <h2 mat-dialog-title>{{formTitle}}: {{entityId}}</h2>
  <mat-dialog-content>
    <h4 mat-dialog-title>Work Order Users Details</h4>
    <p>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>WorkOrderUsers Name</mat-label>
        <input matInput formControlName="entityName">
      </mat-form-field>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button class="mat-raised-button" mat-dialog-close>Cancel</button>
    <button class="mat-raised-button mat-primary" type="submit">Save Work Order Users</button>
  </mat-dialog-actions>
</form>
</div>

