<mat-drawer-container class="" autosize>
  <mat-drawer-content>
<!--    <button mat-icon-button aria-label="Toggle Sidebar" (click)="sideDrawer.toggle()">-->
<!--      <mat-icon>output</mat-icon>-->
<!--    </button>-->
    <app-inventory-table [filterGroupId]="filterGroupId"></app-inventory-table>
  </mat-drawer-content>
  <mat-drawer #sideDrawer class="example-sidenav" mode="side" opened>
    <div class="add-group-button">
    <button class="mat-flat-button mat-primary work-order-table-add-button">Add Group</button>
    </div>
    <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <mat-icon aria-hidden="false" aria-label="Example home icon">folder</mat-icon>
        <a role="button" class="group-tree group-tree-leaf-node" (click)="setFilterGroupId(node.id)">{{node.entityName}}</a>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-nested-tree-node *matTreeNodeDef="let node;when: hasChild">
        <div class="mat-tree-node">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.entityName">
          <mat-icon class="mat-icon-rtl-mirror">{{treeControl.isExpanded(node) ? 'folder' : 'folder'}}</mat-icon>
        </button>
          <a role="button" class="group-tree group-tree-expandable-node" (click)="setFilterGroupId(node.id)">{{node.entityName}}</a>
        </div>
        <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </mat-drawer>
</mat-drawer-container>

<!--&lt;!&ndash;    <mat-tab-group class="admin-tab-group">&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-tab label="Inventory"><app-inventory-table></app-inventory-table></mat-tab>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-tab label="Inventory Groups"><app-inventory-group-table></app-inventory-group-table></mat-tab>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-tab label="Inventory Locations"><app-inventory-location-table></app-inventory-location-table></mat-tab>&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-tab-group>&ndash;&gt;-->
