table {
  width: 100%;
  margin: 0px 0px 0px 0px;
}

.table-toolbar {
  margin: 10px 20px 0px 20px;
}


/*button.aqm-add-entity-button {*/
/*  margin: 10px 20px 10px 20px;*/
/*}*/

button.aqm-edit-entity-button, button.aqm-delete-entity-button  {
  margin: 0px 20px 0px 0px;
}

.table-toolbar {
  display: flex;
}

/*input.customer-filer-box {*/
/*  margin: 10px 20px 10px 20px;*/
/*}*/


.example-fill-remaining-space {
  flex: 1 1 auto;
}
